@import "tailwindcss";

body{
    background-color: black;
    color: white;
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
    position: absolute;
    pointer-events: none;
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: 2;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}